.messages{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 8px;
    cursor: pointer;
}

.allItems{
    overflow-y: scroll;
    height: calc(100dvh - 130px);
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.oneItem{
    display: flex;
    column-gap: 20px;
    font-size: 14px;
    font-weight: 400;
}

.messageProfilP{
    color: black;
}

.messageProfilImg{
    width:56px;
    height: 56px;
    border-radius: 50%;
}
